.custom-select__wrapper {
    position: relative;
    width: 100%;
    height: 100px !important;
    
    .custom-select__label {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    .custom-select {
        position: absolute;
        top: 25px;
        left: 0;
        right: 0;
        background-color: white;
        border: 2px solid #bfbfbf;
        border-radius: 5px;
        z-index: 1;

        &__selected-value {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding: 5px 10px;
            height: 50px;
            width: 100%;
            font-size: 18px;
            color: #8e8e8e;
            background-color: white;
            border-radius: 5px;
            z-index: 5;


            &:hover {
                .selected-value__icon {
                    color: blue;
                }
            }
            
            .selected-value__icon {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
            }
        }
    
        &__dropdown {
            padding-left: 15px;
            border-top: none;
            background-color: white;
            border-radius: 10px;
        }
    }

}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    border: solid 4px transparent;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px 5px black;
    border: solid 8px transparent;

    &:hover {
        box-shadow: inset 0 0 5px 5px blue;
    }
}