.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;

  @media screen and (min-width: 520px) {
    padding-top: 40px;
  }
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 150px;
  font-size: 18px;
  border: 3px solid #bfbfbf;
  border-radius: 14px;
  transition: .3s ease;
}