.form-field {
    height: 50px;
}



button, input[type='submit'] {
  background: none;
  border: none;
  cursor: pointer;
}
  
input {
  border: 1px solid black;
  background: none;
  outline: none;
  padding: 0;
  border-radius: 5px;
}
  
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  border: 1px solid black;
  -webkit-text-fill-color: none;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 12s;
}