.input-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 50px;


    .input__label {
        position: absolute;
        left: 10px;
        padding: 0 2px;
        background-color: white;
        font-size: 16px;
        opacity: 0;
        order: 1;
    }

    

    .input {
        padding: 5px 10px;
        height: 100%;
        max-width: 100%;
        font-size: 18px;
        order: 2;

        &:focus ~ .input__label,
        &:not(:placeholder-shown) ~ .input__label {
            transform: translateY(-12px) translateX(-2px);
            transition: all .3s ease;
            opacity: 1;
        }

        &:placeholder-shown ~ label {
            transition: all .3s ease;
        }

        &:focus::placeholder {
            transition: all .3s ease;
            opacity: 0;
        }

        &::placeholder {
            transition: all .3s ease;
        }
    }

    .show-password-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        right: 5px;
        font-size: 20px;
        transform: translateY(-50%);
    }
}

