.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}
@media screen and (min-width: 768px) {
  .app {
    padding-top: 70px;
  }
}

.register-form {
  box-sizing: border-box;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 10px;
  border: 2px solid black;
  position: relative;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .register-form {
    padding: 40px;
  }
}
.register-form__label {
  padding: 0 5px;
  position: absolute;
  top: -15px;
  left: 10px;
  background-color: white;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .register-form__label {
    top: -20px;
    left: 15px;
    font-size: 24px;
  }
}
.register-form__submit-btn {
  border: 2px solid black;
  border-radius: 8px;
  align-self: center;
  height: 50px;
  width: 130px;
  font-size: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.register-form__submit-btn .submit-btn__text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.register-form__submit-btn .submit-btn__icon {
  height: 22px;
  width: 22px;
  position: absolute;
  top: 50%;
  right: -22px;
  transform: translateY(-50%);
  transition: right 0.3s ease;
}
.register-form__submit-btn:hover .submit-btn__text {
  transition: 0.3s ease;
  left: 15px;
  transform: translate(0, -50%);
}
.register-form__submit-btn:hover .submit-btn__icon {
  transition: right 0.3s ease;
  right: 10px;
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 50px;
}
.input-wrapper .input__label {
  position: absolute;
  left: 10px;
  padding: 0 2px;
  order: 1;
  font-size: 16px;
  opacity: 0;
  background-color: white;
}
.input-wrapper .input {
  padding: 5px 10px;
  height: 100%;
  max-width: 100%;
  order: 2;
  font-size: 18px;
}
.input-wrapper .input:not(:-moz-placeholder-shown) ~ .input__label {
  transform: translateY(-12px) translateX(-2px);
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}
.input-wrapper .input:focus ~ .input__label, .input-wrapper .input:not(:placeholder-shown) ~ .input__label {
  transform: translateY(-12px) translateX(-2px);
  transition: all 0.3s ease;
  opacity: 1;
}
.input-wrapper .input:-moz-placeholder-shown ~ label {
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.input-wrapper .input:placeholder-shown ~ label {
  transition: all 0.3s ease;
}
.input-wrapper .input:focus::-moz-placeholder {
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}
.input-wrapper .input:focus::placeholder {
  transition: all 0.3s ease;
  opacity: 0;
}
.input-wrapper .input::-moz-placeholder {
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.input-wrapper .input::placeholder {
  transition: all 0.3s ease;
}
.input-wrapper .show-password-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 20px;
}

.custom-select__wrapper {
  width: 100%;
  position: relative;
  height: 100px !important;
}
.custom-select__wrapper .custom-select__label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}
.custom-select__wrapper .custom-select {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  border-radius: 5px;
  border: 2px solid black;
  background-color: white;
}
.custom-select__wrapper .custom-select__selected-value {
  height: 50px;
  border-radius: 5px;
  padding: 5px 10px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  z-index: 5;
  background-color: white;
}
.custom-select__wrapper .custom-select__selected-value:hover .selected-value__icon {
  color: blue;
}
.custom-select__wrapper .custom-select__selected-value .selected-value__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.custom-select__wrapper .custom-select__dropdown {
  border-top: none;
  background-color: white;
  border-radius: 10px;
  padding-left: 15px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border: solid 4px transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px 5px black;
  border: solid 8px transparent;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 5px 5px blue;
}

.dropdown-item {
  height: 100%;
  text-align: left;
  padding: 8px 0;
  font-size: 16px;
  position: relative;
}
.dropdown-item:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  width: 2px;
  height: 0;
  background-color: blue;
  transition: height 0.3s ease;
}
.dropdown-item:hover:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  width: 2px;
  height: 100%;
  background-color: blue;
  transition: height 0.3s ease;
}

.modal {
  height: 300px;
  width: 300px;
  border: 1px solid red;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-field {
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.form-field .field-correct {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: green;
}
.form-field .field-error {
  height: 100%;
  font-size: 12px;
  color: red;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  border: 1px solid black;
  background: none;
  outline: none;
  padding: 0;
  border-radius: 5px;
}
input:focus {
  border: 2px solid blue !important;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: 1px solid black;
  -webkit-text-fill-color: none;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-transition: background-color 5000s ease-in-out 12s;
  transition: background-color 5000s ease-in-out 12s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}/*# sourceMappingURL=index.css.map */