@import './app/App';
@import './components/CustomForm/customForm';
@import './components/CustomInput/customInput';
@import './components/CustomSelect/customSelect';
@import './components/DropdownItem/dropdownItem';
@import './components/Modal/modal';
@import './app/globalStyles';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

