.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}
@media screen and (min-width: 520px) {
  .app {
    padding-top: 40px;
  }
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 150px;
  font-size: 18px;
  border: 3px solid #bfbfbf;
  border-radius: 14px;
  transition: 0.3s ease;
}

.form-field {
  display: flex;
  flex-direction: column;
  height: 80px;
  gap: 2px;
}
.form-field .field-correct {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: green;
}
.form-field .field-error {
  height: 100%;
  font-size: 12px;
  color: red;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  border: 1px solid black;
  background: none;
  outline: none;
  padding: 0;
  border-radius: 5px;
}
input:focus {
  border: 2px solid blue !important;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: 1px solid black;
  -webkit-text-fill-color: none;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-transition: background-color 5000s ease-in-out 12s;
  transition: background-color 5000s ease-in-out 12s;
}

.register-form {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 25px 10px;
  max-width: 500px;
  width: 100%;
  gap: 20px;
}
@media screen and (min-width: 520px) {
  .register-form {
    padding: 30px 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px lightgrey;
  }
}
.register-form__label {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.register-form__submit-btn {
  align-self: center;
  position: relative;
  height: 50px;
  width: 130px;
  overflow: hidden;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.register-form__submit-btn .submit-btn__text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.register-form__submit-btn .submit-btn__icon {
  height: 22px;
  width: 22px;
  position: absolute;
  top: 50%;
  right: -22px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  opacity: 0;
}
.register-form__submit-btn:hover .submit-btn__text {
  left: 20px;
  transform: translate(0, -50%);
  transition: 0.3s ease;
}
.register-form__submit-btn:hover .submit-btn__icon {
  right: 15px;
  transition: all 0.3s ease;
  opacity: 1;
}

.btn-gradient {
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, rgb(96, 96, 250), rgb(58, 235, 58)) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 50px;
}
.input-wrapper .input__label {
  position: absolute;
  left: 10px;
  padding: 0 2px;
  background-color: white;
  font-size: 16px;
  opacity: 0;
  order: 1;
}
.input-wrapper .input {
  padding: 5px 10px;
  height: 100%;
  max-width: 100%;
  font-size: 18px;
  order: 2;
}
.input-wrapper .input:not(:-moz-placeholder-shown) ~ .input__label {
  transform: translateY(-12px) translateX(-2px);
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
}
.input-wrapper .input:focus ~ .input__label, .input-wrapper .input:not(:placeholder-shown) ~ .input__label {
  transform: translateY(-12px) translateX(-2px);
  transition: all 0.3s ease;
  opacity: 1;
}
.input-wrapper .input:-moz-placeholder-shown ~ label {
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.input-wrapper .input:placeholder-shown ~ label {
  transition: all 0.3s ease;
}
.input-wrapper .input:focus::-moz-placeholder {
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}
.input-wrapper .input:focus::placeholder {
  transition: all 0.3s ease;
  opacity: 0;
}
.input-wrapper .input::-moz-placeholder {
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.input-wrapper .input::placeholder {
  transition: all 0.3s ease;
}
.input-wrapper .show-password-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 5px;
  font-size: 20px;
  transform: translateY(-50%);
}

.custom-select__wrapper {
  position: relative;
  width: 100%;
  height: 100px !important;
}
.custom-select__wrapper .custom-select__label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}
.custom-select__wrapper .custom-select {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  background-color: white;
  border: 2px solid #bfbfbf;
  border-radius: 5px;
  z-index: 1;
}
.custom-select__wrapper .custom-select__selected-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 5px 10px;
  height: 50px;
  width: 100%;
  font-size: 18px;
  color: #8e8e8e;
  background-color: white;
  border-radius: 5px;
  z-index: 5;
}
.custom-select__wrapper .custom-select__selected-value:hover .selected-value__icon {
  color: blue;
}
.custom-select__wrapper .custom-select__selected-value .selected-value__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.custom-select__wrapper .custom-select__dropdown {
  padding-left: 15px;
  border-top: none;
  background-color: white;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border: solid 4px transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px 5px black;
  border: solid 8px transparent;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 5px 5px blue;
}

.dropdown-item {
  position: relative;
  padding: 8px 0;
  height: 100%;
  font-size: 16px;
  text-align: left;
}
.dropdown-item:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  width: 2px;
  height: 0;
  background-color: blue;
  transition: height 0.3s ease;
}
.dropdown-item:hover:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  width: 2px;
  height: 100%;
  background-color: blue;
  transition: height 0.3s ease;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 60px 30px;
  background-color: #fff;
  z-index: 11;
  transition: 0.3s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 520px) {
  .modal {
    height: 600px;
    width: 500px;
    justify-content: initial;
    padding: 20px 80px;
    border-radius: 10px;
    box-shadow: inset 0 0 2px 2px #bfbfbf;
    gap: 10px;
  }
}
.modal__title {
  display: block;
  width: 100%;
  font-size: 30px;
  text-align: center;
}
.modal__close-btn {
  position: absolute;
  right: 10px;
  top: 15px;
  transition: 0.3s ease;
}
.modal__close-btn:hover {
  color: red;
  transition: 0.3s ease;
}
.modal__list {
  width: 100%;
}
.modal__list .list-item {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}
.modal__list .list-item:not(:last-of-type) {
  border-bottom: 1px solid #bfbfbf;
}
.modal__list .list-item__title {
  font-size: 20px;
}
.modal__list .list-item__value {
  font-size: 18px;
}
.modal__buttons-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 520px) {
  .modal__buttons-wrap {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
  }
}
.modal__buttons-wrap .go-back-btn:hover {
  border-color: blue;
  transition: 0.3s ease;
}
.modal__buttons-wrap .submit-btn:hover {
  border-color: green;
  transition: 0.3s ease;
}

.blur {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100vw;
  transform: translate(-50%, -50%);
  background: rgba(159, 159, 159, 0.5);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 10;
}

.error-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 50px;
  text-align: center;
}
.error-screen__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
}
.error-screen__text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  gap: 10px;
}
.error-screen .go-back-btn {
  align-self: center;
  position: relative;
  height: 50px;
  width: 130px;
  overflow: hidden;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
.error-screen .go-back-btn .btn-text {
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  transition: 0.3s ease;
}
.error-screen .go-back-btn .btn-icon {
  height: 22px;
  width: 22px;
  position: absolute;
  top: 50%;
  left: -22px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  opacity: 0;
}
.error-screen .go-back-btn:hover .btn-text {
  right: 20px;
  transform: translate(0, -50%);
  transition: 0.3s ease;
}
.error-screen .go-back-btn:hover .btn-icon {
  left: 15px;
  transition: all 0.3s ease;
  opacity: 1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}/*# sourceMappingURL=index.css.map */